<div class="row panel" style="margin-top: 20px;">
  <div class="eight columns">
    <h2><%= @event.name %></h2>

    <hr />

    <div class="row mobile-two">
      <div class="seven columns">
        <h6>
          <% v = Venue.find(@event.venue_id) %>
          <%= v.name %>
          <% if !v.street.empty? %>
            <%= ", #{v.street}" %>
          <% end %>
        </h6>
      </div>
      <div class="five columns">
        <h6><%= l @event.start_dt, :format => "%-d %B, %l:%M %p" %></h6>
      </div>
    </div>

    <div class="row mobile-two show-for-small">
      <div class="seven columns">
        <div class="image-wrapper-outer">
          <div class="image-wrapper-inner">
            <%= image_tag @event.image_url(:thumb).to_s %>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="twelve columns">
        <div class="event-description-wrapper">
          <%= @event.description %>
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="twelve columns">
        <div style="font-style: italic;">
          <%= link_to "More Information...", @event.link %>
        </div>
      </div>
    </div>

  </div>

  <div class="four columns hide-for-small">
    <div class="image-wrapper-outer">
      <div class="image-wrapper-inner">
        <%= image_tag @event.image_url(:thumb).to_s %>
      </div>
    </div>
  </div>
</div>

<br />

<%= link_to 'All Events', events_path, :class => "medium button" %>

<br />
<br />
