<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @venue.name %>
</p>

<p>
  <b>Street:</b>
  <%= @venue.street %>
</p>

<p>
  <b>City:</b>
  <%= @venue.city %>
</p>

<p>
  <b>State:</b>
  <%= @venue.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @venue.zip %>
</p>

<p>
  <b>Country:</b>
  <%= @venue.country %>
</p>

<p>
  <b>Verified:</b>
  <%= @venue.verified %>
</p>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
